<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../../../favicon.ico">

        <title>提取 - 你的年·生成你的春节精选</title>

        <link href="../../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="../../static/sticky-footer-navbar.css" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

    </head>
<body>
    <header>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="{% url 'fileupload:upload' %}">你的年</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'fileupload:upload' %}">创建</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'fileupload:extraction' 0 %}">提取</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- Begin page content -->
    <main role="main" class="container">
        {% load static %}
        <h1 class="mt-5">生成你的年 · 输入提取码</h1><br>
        <p class="lead">输入提取码，提取合成图片。</p>
        <div class="row">
            <div class="col-md-4">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" id="code" placeholder="提取码" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" onclick="codeprocess()">提取</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <br>
    <footer class="footer">
        <div class="container">
          <span class="text-muted">
              <span>© 2019 <a href="http://imztj.cn">ZhangTianjie</a></span>
              <span> · <a href="https://github.com/ztjryg4/SpringFestivalHighlights">GitHub</a></span>
          </span>
        </div>
    </footer>

</body>
</html>

<script>
function codeprocess() {
    var newhref = '../' + document.getElementById("code").value + '/';
    window.location.href = newhref;
}
</script>
